 
@media screen and (max-width: 420px) {

  .retangulo2 {

  width: 100%;
  height: auto;
  background-color: #000000;
  border:dotted 10px #3500f3;

}


  
}

body {background-color: rgba(0, 0, 0, 1);
color:#fff;}
h1 {color: rgb(255, 238, 0);}
h2 {color: rgb(255, 238, 0);}
h3 {color: rgb(255, 238, 0);}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
} 
.escalações {
  background-color: #00ff15;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.escalações{ margin-top: 400px;}



.jogos {
  background-color: #00ff15;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}



.tabela {
  background-color: #00ff15;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}



/*estilização das fontes*/

.protest-strike-regular {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Bandeira-do-Brasil {
  width: 90px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
   border: 3px solid #333;
  border-radius: 15px;
}
.btn-group {
  display: flex;
  width: 100dvw;
  justify-content: center;

}
.retangulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 310px;
  height: 280px;
  background-color: #000000;
  border:dotted 10px #3500f3;
}
.jogos-group {
  display: flex;
  width: 100dvw;
  justify-content: center;

}
.retangulo2 {
  display: flex;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 280px;
  background-color: #000000;
  border:dotted 10px #3500f3;
}
.bloco_jogos{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 30px

}
.partida {
  display: flex;
  margin: 30px 0px;
}
.band {
  width: 32px;
}




